$gfi-gold: #D0AC48;
$gfi-olive: #76865E;
$gfi-teal-light: #709D9A;
$gfi-teal-deep: #3F737B;
$gfi-bronze: #B3854A;
$gfi-charcoal: #3F3F3B;
$gfi-cream: #EDD3A4;
$gfi-teal-text: #6A9B98;
$gfi-bg-light: #F8F4ED;
$gfi-bg-dark: #1D1D1D;
